<html xmlns:th="https://www.thymeleaf.org/">
<div th:replace="fragments/commonui::header"></div>
  <body>
  <div th:replace="fragments/commonui::menu"></div>
    <div class="container">
        <div class="card">
            <div class="card-head bg-primary text-white text-center">
                <h3>Doctor Register</h3>
            </div>
        </div>
        <div class="card-body">
            <form th:action="@{/doc/save}" method="POST" id="docForm">
                <!-- #row1 -->
                <div class="row">
                    <div class="col-2">
                        <label>First Name</label>
                    </div>
                    <div class="col-4">
                        <input type="text" name="firstName" id="firstName" class="form-control"/>
                    </div>
                    <div class="col-6">
                        <span id="firstNameError"></span>
                    </div>
                </div>
                <!-- #row2 -->
                <div class="row">
                    <div class="col-2">
                        <label>Last Name</label>
                    </div>
                    <div class="col-4">
                        <input type="text" name="lastName" id="lastName" class="form-control"/>
                    </div>
                    <div class="col-6">
                        <span id="lastNameError"></span>
                    </div>
                </div>
                <!-- #row3 -->
                <div class="row">
                    <div class="col-2">
                        <label>Email</label>
                    </div>
                    <div class="col-4">
                        <input type="text" name="email" id="email" class="form-control"/>
                    </div>
                    <div class="col-6">
                        <span id="emailError"></span>
                    </div>
                </div>
                
                <!-- #rowDynamicDropdown -->
                <div class="row">
                    <div class="col-2">
                        <label id="specialzation.id">Specialization</label>
                    </div>
                    <div class="col-4">
                        <select name="specialzation.id" id="specialzation">
                        <option value="">-SELECT-</option>
                        <option th:each="ob:${specialzations}" th:value="${ob.key}" th:text="${ob.value}"></option>
                        </select>
                    </div>
                    <div class="col-6">
                        <span id="specializationError"></span>
                    </div>
                </div>
                
                 <!-- #row4 -->
                 <div class="row">
                    <div class="col-2">
                        <label>Address</label>
                    </div>
                    <div class="col-4">
                        <textarea name="address" id="address" class="form-control"></textarea>
                    </div>
                    <div class="col-6">
                        <span id="addressError"></span>
                    </div>
                </div>
                <!-- #row5 -->
                <div class="row">
                    <div class="col-2">
                        <label>Mobile</label>
                    </div>
                    <div class="col-4">
                        <input type="text" name="mobile" id="mobile" class="form-control"/>
                    </div>
                    <div class="col-6">
                        <span id="mobileError"></span>
                    </div>
                </div>
                <!-- #row6 -->
                <div class="row">
                    <div class="col-2">
                        <label>Gender</label>
                    </div>
                    <div class="col-4">
                        <input type="radio" name="gender" id="gender1" value="Male"/>Male
                        <input type="radio" name="gender" id="gender2" value="Female"/>Female
                    </div>
                    <div class="col-6">
                        <span id="genderError"></span>
                    </div>
                </div>

                <!-- #row7 -->
                <div class="row">
                    <div class="col-2">
                        <label>Note</label>
                    </div>
                    <div class="col-4">
                        <textarea name="note" id="note" class="form-control"></textarea>
                    </div>
                    <div class="col-6">
                        <span id="noteError"></span>
                    </div>
                </div>
                <!-- #row8 -->
                <div class="row">
                    <div class="col-2">
                        <label>Image</label>
                    </div>
                    <div class="col-4">
                        <input type="text" name="photoLoc" id="photoLoc" class="form-control"/>
                    </div>
                    <div class="col-6">
                        <span id="photoLocError"></span>
                    </div>
                </div>
                <button type="submit" class="btn btn-success" >Create <i class="fa fa-plus-circle" aria-hidden="true"></i></button>
            </form>
        </div>
        <div th:if="${massage!=null}" class="card-footer bg-info text-white text-center">
            <span th:text="${massage}"> </span>
        </div>
    </div>
  </body>
  </html>